/* --- Buttons general --- */

.btn {
  margin: 0 auto;
  padding: 11px 30px;
  height: 40px;
  background: transparent;
  border: 1px solid var(--gray);
  color: var(--gray);
  border-radius: 5px;
  font-size: 13px;
  transition: all .3s;
}
   

/* -- btn search */

.btn_search {
  padding: 11px 30px;
  height: 40px;
  display: block;
  background: transparent;
  border: 1px solid var(--gray);
  color: var(--gray);
  border-radius: 5px;
  font-size: 13px;
}

.active {
  border: 1px solid var(--orange-main);
  color: var(--orange-main);
  background-color: rgba(184, 134, 11, 0.1);
}




/* -- btn save */

.btn-save {
  border: 1px solid var(--orange-main);
  color: var(--orange-main);
  /* background-color: rgba(184, 134, 11, 0.1); */
}

.btn-long {
  width: 100%;
  margin-top: 10px;
}

.btn-save:hover {
  border: 1px solid var(--orange-main);
  color: var(--orange-main);
  background-color: rgba(184, 134, 11, 0.3);
}

.deactive {
  border: 1px solid var(--gray);
  color: var(--gray);
}


/* -- btn clear */

.btn-clear {
  border: 1px solid var(--red);
  color: var(--red);
  background: rgba(255, 126, 126, 0.1);
}


.btn-clear:hover {
  border: 1px solid var(--red);
  background: rgba(255, 126, 126, 0.3);
  color: var(--red);
}