

.result_box {
  margin-top: 15px;
  width: 100%;
  transition: all .3s;
}

ul {
  list-style: none;
}

.result_row {
  display: flex;
  justify-content: space-around;
}

.result_row_title {
  margin-bottom: 20px;
}


/* table */

.table_box {
  max-width: 350px;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-spacing: 13px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding-left: 10px;
}

.table thead {
  text-align: left;
  font-size: 16px;
  color: var(--orange-main);
}

.table tbody {
  text-align: left;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
}

/* td {
  width: 33%;
} */

.td_long {
  width: 50%;
}

.td_medium {
  width: 30%;
}

.td_pos {
  width: 20%;
}

/* text area */

