.save_box {
  transition: all .3s;
}

.tr_translate {
  font-size: 14px;
  text-align: left;
  color: gray;
  margin-bottom: 40px;
  padding-bottom: 10px;
  position: relative;
}

.rus_text {
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 5px 10px;
  color:var(--gray);
}

.tr-sentence {
  padding-right: 15px;
  padding-bottom: 0;

}


.delete_item_btn {
  font-size: 21px;
  font-weight: 300;
  color: var(--red);
  margin-right: 10px;
}




