

.search_box {
  display: flex;
  align-items: center;
  justify-content: space-between ;
  height: 40px;
  width: 100%;
  /* border: 1px solid #576380; */
  text-align: center;
}


.input {
  width: 255px;
  padding: 10px 20px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #4b4b4b;
  outline: none;
  color: #BDC1C6;
  font-size: 16px;
  border-radius: 5px;
}

.btn_search {
  padding: 11px 20px;
  height: 40px;
  display: block;
  background: transparent;
  border: 1px solid #4b4b4b;
  color: #4b4b4b;
  border-radius: 5px;
  transition: all .3s;
  font-size: 13px;
}


.active {
  border: 1px solid darkgoldenrod;
  color: darkgoldenrod;
}


