

.search_box {
  display: flex;
  align-items: center;
  justify-content: space-between ;
  height: 40px;
  width: 100%;
  text-align: center;
}


.input {
  padding: 10px 20px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--gray);
  outline: none;
  color: #BDC1C6;
  font-size: 16px;
  border-radius: 5px;
}

.input_search {
  width: 255px;
}

.input_translate {
  width: 100%;
  margin-top: 10px;
}




